﻿<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>SiMoTool -- Accueil</title>
	</head>

	<body>
		<h1>SiMoTool</h1>

		{% include "menu.html" ignore missing %}

		<h2>{{ titre[0] }}</h2>
		<ul>
		{% for c in computers %}
			<li><a href="comp/{{ c[0] }}">{{ c[4] }}</a> - <i>(re)<a href="/sonde/{{ c[8] }}/{{ c[9] }}">télécharger</a> la sonde.</i></li>
		{% endfor %}
		</ul>

		<hr />
		<h2>{{ titre[1] }}</h2>
		<ul>
		{% for alert in alerts %}
		<li>[{{ alert[1] }}] <a href="{{ alert[2] }}">{{ alert[3] }}</a></li>
		{% endfor %}
		</ul>

		<hr />
		<footer>
			<p>
				<small>Fork me on <a href="https://gitlab.com/sodimel/SiMoTool">GitLab</a> !</small>
			</p>
		</footer>
	</body>
</html>
