<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>SiMoTool -- Ajouter un ordinateur</title>
	</head>

	<body>
		<h1>SiMoTool</h1>

		{% include "menu.html" ignore missing %}

		<h2>Ajouter un ordinateur</h2>

		<section>
			<form method="post" action="/add">
				<label for="email">Email : </label> <input type="email" id="email" name="email" required />
				<hr />
				<label for="timeRequest">Intervalle (mn) : </label> <input type="number" id="timeRequest" name="timeRequest" value="5" required />
				<hr />
				<label for="timeAlert">Alerte (mn) : </label> <input type="number" id="timeAlert" name="timeAlert" value="30" required />
				<hr />
				<input type="submit" value="TRANSMETTRE DES DONNÉES" />
			</form>
		</section>

		<section>
			<p>
				L'intervalle correspond à la durée entre chaque requête de la sonde vers le serveur, et l'alerte est la durée à partir de laquelle un email va être envoyé si la sonde ne fonctionne plus.
			</p>	
		</section>

		{% if uuid is defined %}
		<hr />
		<section>
			<p>Votre ordinateur a bien été ajouté à la base de données.</p>
			<p>Suivez ces étapes pour commencer à le surveiller :</p>
			<ol>
				<li><a href="sonde/{{ uuid }}/{{ frequency }}">Récupérer le fichier sonde</a>.</li>
				<li>Lancer le fichier sonde depuis l'ordinateur à surveiller.</li>
				<li><i>That's all folks!</i></li>
			</ol>
		</section>
		{% endif%}


		{% if error is defined %}
		<hr />
		<section>
			<p>
				Erreur: un champ au moins est nul. Le serveur a besoin de toutes les informations pour pouvoir faire correctement son travail.
			</p>
			<p>
				Veuillez ré-essayer.
			</p>
		</section>
		{% endif%}

	</body>
</html>
