<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>SiMoTool -- Stats de {{ computer[4] }}</title>
	</head>

	<body>
		<h1>SiMoTool</h1>

		{% include "menu.html" ignore missing %}

		<h2>Stats de {{ computer[4] }}</h2>

		<section>
			<h3>General informations:</h3>
			<ul>
				<li>Last update: {{ computer[1] }}</li>
				<li>email: {{ computer[2] }}</li>
				<li>Time before an alert (mn): {{ computer[3] }}</li>
				<li>GPU(s): {{ computer[5] }}</li>
				<li>CPU: {{ computer[7] }}</li>
				<li>Cores: {{ computer[6] }}</li>
			</ul>
		</section>

		<section>
			<h3>Sensors:</h3>		
			<!--<ul>
			{% for log in logs %}
				<li>{{ log }}</li>
			{% endfor %}
			</ul>-->
		</section>

		<section style="display: flex; justify-content: space-around;">
			<div id="cpu" style="width: 45%;"></div>
			<div id="ram" style="width: 45%;"></div>
		</section>

	</body>

	<script src="{{ url_for('static', filename='highcharts.js') }}"></script>
	<script src="{{ url_for('static', filename='series-label.js') }}"></script>

<script>
	{% include "stat.js" ignore missing %}
</script>
</html>
